/* header{
    text-align: center;
    background-color: rgb(167, 232, 243);
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(206, 204, 204, 0.5);
    font-size: 35px;
} */

.container{
    height: 100%;
    width: 100%;
}

header{
    font-family:monospace;
    text-align: center;
    color:rgb(51, 105, 60);
    background-color: black;
}

h1{
    font-size: 35px;
}

nav{
    word-spacing: 10px;
}